div,
article,
section {
    box-sizing: border-box;
}

body {
    position: fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    margin: 0;
    display: grid;
    grid-template-rows: [head-start] 50px [content-start] auto [foot-start] 30px [foot-end];
    grid-template-columns: [margin-L] 5vw [content-left] auto [content-right] 5vw [margin-R];
    font-family: Sans;
}

header {
    background-color: blueviolet;
    width: 100%;
    grid-area: head-start / margin-L / content-start / margin-R;
    text-align: center;

    color: white;
    text-transform: uppercase;
}

.header-content-wrapper {
    padding: 5px;

}

#main-title {
    margin: 0;
    font-size: 35px;
    display: inline-block;
    vertical-align: top;
    line-height: 40px;
}

.button.button-burger {
    height: 40px;
    width: 40px;
    margin: 0;
    float: right;
    background-color: white;
}

footer {
    background-color: gray;
    color: white;
    width: 100%;
    grid-area: foot-start / margin-L / foot-end / margin-R;
    text-align: center;
    box-sizing: border-box;
}

#quiz-root {
    grid-area: content-start / content-left / foot-start / content-right;
    position: relative
}

#quiz-screen {
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    display: grid;
    grid-template-rows: 15px [top] 1fr [bottom] 15px ;
    grid-template-columns: [main-l] 4fr [main-r] 15px [side-l] 1fr [side-r];
}

#current-question {
    grid-area: top / main-l / bottom / main-r;
    display: grid;
    grid-template-rows: [top] 2fr [question-top] 200px [question-bottom] 1fr [answers-top] 90px [answers-bottom] 1fr [nav-top] 60px [nav-bottom] 2fr [bottom];
    grid-template-columns: [left] auto [right];
    border: 1px gray solid;
}

#intro-screen {
    grid-area: top / main-l / bottom / main-r;
    display: grid;
    grid-template-rows: [top] 2fr [message-top] 80px [message-mid] 150px [message-bottom] 1fr [scores-top] 200px [scores-bottom] 1fr [start-top] 120px [start-bottom] 2fr [bottom];
    grid-template-columns: [left] auto [right];
    text-align: center;
    border: 1px gray solid;
    background-color: #fdfdfd;
}

#summary-screen {
    grid-area: top / main-l / bottom / main-r;
    grid-template-rows: [top] 2fr [message-top] 200px [message-bottom] 1fr [buttons-top] 120px [buttons-bottom] 2fr [bottom];
    grid-template-columns: [left] auto [right];
    display: grid;
    border: 1px gray solid;
    background-color: #fdfdfd;
}

#summary-self {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.restart-wrapper {
    text-align: center;
    grid-area: buttons-top / left / buttons-bottom / right;
}

.intro-message-title {
    grid-area: message-top / left / message-mid / right;
    font-size: 30px;
}

.intro-message-text {
    font-size: 20px;
    grid-area: message-mid / left / message-bottom / right;
    text-align: justify;
    padding: 0 30px;
}

.intro-scores-wrapper {
    grid-area: scores-top / left / scores-bottom / right;
    font-size: 20px;
    padding: 15px;
    list-style: none;
}

.intro-scores-wrapper li {
    padding: 10px;
}

.intro-scores-wrapper :nth-child(1) {
    background-color: goldenrod;
}

.intro-scores-wrapper :nth-child(2) {
    background-color: silver;
}

.intro-scores-wrapper :nth-child(3) {
    background-color: saddlebrown;
}


.start-wrapper {
    grid-area: start-top / left / start-bottom / right;
}

#quiz-info {
    grid-area: top / side-l / bottom / side-r;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.answers-wrapper {
    text-align: center;
    grid-area: answers-top / left /answers-bottom / right;
}

.quiz-list-wrapper {
    text-align: center;
}

.logout-wrapper {
    position: absolute;
    top: 0;
}

.button {
    margin: 5px;
    width: 250px;
    height: 50px;
    border: none;
    background-color: darkgray;
    border-radius: 5px;
    color: white;
    font-size: 1.2em;
    transition: transform 0.2s;
    vertical-align: top;
}

.button:hover {
    transform: scale(1.05);
}

.button-ultrawide {
    display: block;
    width: 80vw;
    text-align: center;
    margin: 10px auto;
}

.button.button-important {
    background-color: blueviolet;
}

.button.button-done {
    background-color: lightgreen;
}

.answer-button-selected {
    background-color: cornflowerblue;
}

.answer-button-correct {
    border: lightgreen 5px solid;
}

.button:disabled {
    opacity: 0.5;
}

.single-question-info {
    height: 50px;
    border-bottom: solid darkgray 1px;
    padding: 15px;
    vertical-align: top;
}

.single-question-info .single-question-info-text.is-current {
    font-weight: bolder;
}

.small-status-icon {
    width: 20px;
    height: 20px;
    border: darkgray 3px solid;
    border-radius: 10px;
    display: inline-block;
    margin-right: 10px;
}

.small-status-icon-OK {
    border: none;
    background-color: lightgreen;
}

.small-status-icon-WA {
    border: none;
    background-color: palevioletred;
}

.small-status-icon-ANS {
    border: none;
    background-color: cornflowerblue;
}

.avg-time-wrapper {
    grid-area: answers-bottom / left / nav-top / right;
    text-align: center;
    margin: auto;
}

.question-box {
    grid-area: question-top / left / question-bottom / right;
    font-size: 40px;
    background: #f0f0f0;
    border-radius: 5px;
    padding: 20px;
    margin: 0 60px;
    display: flex;
    align-items: center;
    overflow-y: auto;
}

.question-self {
    margin: 0;
    flex-grow: 1;
}

.question-self.long-question {
    font-size: 0.5em;
}

.status-displayer {
    margin: 5px;
    width: 400px;
    height: 50px;
    border: gray 3px solid;
    border-radius: 5px;
    color: white;
    font-size: 1.2em;
    display: inline-block;
    vertical-align: top;
    color: gray;
    text-align: center;
    line-height: 46px;
}

.status-displayer-OK {
    color: lightgreen;
    border-color: lightgreen;
}

.status-displayer-WA {
    color: palevioletred;
    border-color: palevioletred;
}

.status-displayer-ANS {
    color: cornflowerblue;
    border-color: cornflowerblue;
}


.nav-wrapper {
    text-align: center;
    grid-area: nav-top / left / nav-bottom / right;
}

.confirm-answer-button {
     width: 400px;
    background-color: darkviolet;
}

.answer-button {
    height: 80px;
}

.start-button {
    width: 400px;
    height: 110px;
}

.timer-main {
    text-align: center;
    font-size: 30px;
    border: gray 3px solid;
    border-radius: 5px;
    margin-bottom: 30px;

}

.app-message-wrapper {
    color: black;
    border: solid 5px #555;
    background-color: #ddd;
    max-width: 600px;
}

.app-message-wrapper-info {
    color: black;
    border-color: darkblue;
    background-color: cornflowerblue;
}

.app-message-wrapper-warning {
    border-color: darkorange;
    background-color: orange;
    color: black;
}

.app-message-wrapper-ok {
    border-color: green;
    background-color: lightgreen;
    color: black;
}

.app-message-wrapper-error {
    border-color: darkred;
    background-color: red;
    color: black;
}

#questions-list {
    margin-top: auto;
    margin-bottom: auto;
}

#questions-list {
    max-height: 80vh;
    overflow-y: auto;
}

input {
    display: block;
    min-height: 30px;
    min-width: 400px;
    font-size: 1.5em;
    margin: 5px;
}

@media (min-width: 1051px) {
    .mobile-only {
        display: none;
    }
}

@media (max-width: 1050px) {

    .status-displayer,
    .button {
        width: 200px;
        height: 50px;
    }

    .button-ultrawide {
        width: 80vw;
    }

    body {
        grid-template-columns: [margin-L] 0 [content-left] auto [content-right] 0 [margin-R];
    }


    #quiz-screen {
        grid-template-columns: [main-l] 1fr [main-r];
        grid-template-rows: 15px [top] 1fr [bottom] 15px ;
    }

    #intro-screen {
        grid-area: top / main-l / bottom / main-r;
        border: none;
    }

    #current-question {
        grid-area: top / main-l / bottom / main-r;
        grid-template-rows: [top] 2fr [question-top] 300px [question-bottom] 1fr [answers-top] 90px [answers-bottom] 1fr [nav-top] 40px [nav-bottom] 2fr [bottom];
        border: none;
    }

    #quiz-info {
        grid-area: top / main-l / bottom / main-r;
        background: white;
        border: none;
        padding: 15px;
        transform: translateX(0);
        transition: all 0.2s;
    }

    #quiz-info.mobile-closed {
        transform: translateX(100%);
    }

    .question-box {
        margin: 0 10px;
        padding: 10px;
    }
}

@media (max-width: 600px) {

    h1 {
        margin: 0;
    }

    #current-question {
        grid-area: top / main-l / bottom / main-r;
        grid-template-rows: [top] 2fr [question-top] 200px [question-bottom] 1fr [answers-top] 90px [answers-bottom] 1fr [nav-top] 40px [nav-bottom] 2fr [bottom];
        border: none;
    }

    #main-title {
        font-size: 20px;
        max-width: 60vw;
        line-height: 22px;
        margin: auto;
    }

    .intro-message-text {
        overflow-y: scroll;
        border: 1px solid gray;
        margin: 10px;
        padding: 0 10px;
    }

    .status-displayer,
    .button {
        width: 120px;
        height: 40px;
    }

    .status-displayer {
        line-height: 38px;
    }

    .button.button-mobile-enlarge {
        width: 200px;
        height: 50px;
    }

    .button.button-long-text {
        height: 60px;
    }

    .button-ultrawide {
        width: 80vw;
    }
}

@media (max-width: 350px) {
    #current-question {
        grid-area: top / main-l / bottom / main-r;
        grid-template-rows: [top] 2fr [question-top] 150px [question-bottom] 1fr [answers-top] 90px [answers-bottom] 1fr [nav-top] 40px [nav-bottom] 2fr [bottom];

    }

}
